@import "./bootstrap.min.css";

.login-page{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-form{
  border: 1px solid #919aa1;
  padding:2rem 5rem;
}

li {
  list-style: none;
}

.card{
  margin: 1rem  0;
}

